.btn-success {
    background-color: $primary;
    a {
        color: white;
    }
    &:hover {
        background-color: darken($color: $primary, $amount: 5) !important;
        box-shadow: 0 4px 9px -4px darken($color: $primary, $amount: 5) !important;
    }
    box-shadow: 0 4px 9px -4px $primary !important;
    &:focus {
        background-color: darken($color: $primary, $amount: 5)!important;
        box-shadow: 0 4px 9px -4px darken($color: $primary, $amount: 5)!important;
    }
}

.btn-outline-primary {
    color: $primary !important;
    border-color: $primary !important;
    a {
        color: $primary !important;
    }
    &:hover {
        color: $primary !important;
        border-color: darken($color: $primary, $amount: 5) !important;
    }
    &:active {
        color: $primary !important;
    }
    &:focus {
        color: $primary !important;
        border-color: darken($color: $primary, $amount: 5) !important;
    }
}