.text-area {
    text-align: center !important;
    h1 {
        font-size: 4rem;
    }
    span {
        color: $primary;
    }
    p {
        text-align: justify;
    }
}

.form-check {
    span {
        color: white
    }
}

.cv {
    text-align: center !important;
}

.imgbig {
    width: 170% !important;
}